:root {
  --color-blue: #335fff;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", Arial, sans-serif;
}

$blue: #335fff;
$primary: $blue;
$family-sans-serif: var(--font-family-sans-serif);
@import "~bulma";

html {
  -webkit-font-smoothing: auto;
}
